<div fxLayout="row wrap" fxLayoutAlign="start center" style="padding: 2%;">
  <ng-container *ngFor="let job of listJobs" style="margin: 0.5%;">

    <mat-card class="mat-card-job"
      fxFlex="0 1 calc(33.3% - 11px)"
      fxFlex.lt-md="0 1 calc(50% - 11px)"
      fxFlex.lt-sd="100%">

      <mat-card-title class="mat-card-title-job">
        <div class="row" style="height: 40px;">

          <mat-card fxFlex="65%" fxLayoutAlign="start center" style="background-color: #607d8b; color: white;">{{job.title}}</mat-card>
          <span fxFlex></span>

          <mat-card id="field-price" style="background-color: #69f0ae; color: black;" fxFlex="30%" fxLayoutAlign="start center">R${{job.price}}</mat-card>

        </div>
      </mat-card-title>

      <mat-card-content class="mat-card-content">
        <mat-card class="mat-card-desc">
          <p style="color: black;">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis numquam beatae repudiandae repellat a exercitationem laboriosam? Qui sequi, dolorem laboriosam, odit nemo blanditiis eos ab rem aliquid ex veritatis doloremque?
          </p>
        </mat-card>
      </mat-card-content>

      <mat-card-actions class="mat-card-actions">
        <button fxFlex="44%" mat-stroked-button style="background-color: aliceblue; color: black;">Ver Trabalhador</button>
        <button fxFlex="44%" mat-raised-button color="accent" style="margin-right: 0px;">Contratar Serviço</button>
      </mat-card-actions>

    </mat-card>

  </ng-container>

</div>

