<div fxLayout="row wrap" fxLayoutAlign="center center" style="padding: 2%;">
  <ng-container *ngFor="let job of listJobs" style="margin: 0.5%;">

    <mat-card class="mat-card-job"
      fxFlex="0 1 calc(33.3% - 11px)"
      fxFlex.lt-md="0 1 calc(50% - 11px)"
      fxFlex.lt-sd="100%"
      fxLayout="column" fxLayoutAlign="space-evenly center">

      <div fxLayout="row" fxLayoutAlign="space-evenly center" >
        <mat-card class="mat-card-title-job" style="margin-right: 5%; width: 250px;">
          <p>{{job.title}}</p>
        </mat-card>
        <mat-card class="mat-card-title-job">
            <p>R${{job.price}}</p>
        </mat-card>
      </div>

      <div>
        <mat-card class="mat-card-desc">
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat, veritatis quae impedit nisi eum doloribus sed fugiat itaque, animi corporis distinctio, a harum dicta. Asperiores porro voluptatum eius minus dolorem.
          </p>
        </mat-card>
      </div>

      <mat-card-actions class="mat-card-actions">
        <button fxFlex="44%"
                mat-stroked-button
                style="background-color: aliceblue; color: black;"
                (click)="onSeeWorker(job.idPerson)">Ver Trabalhador</button>

        <button fxFlex="44%"
                mat-raised-button color="accent"
                style="margin-right: 0px;"
                (click)="onContractJob(job)">Contratar Serviço</button>
      </mat-card-actions>

    </mat-card>

  </ng-container>

</div>

