.mat-card-job{
  background-color: #625f5f;
  padding: 10px 0% 10px 0%;
  margin: 20px;
  max-width: 30%;
  height: 360px;
}

.mat-card-title-job{
  padding: 10px;
  font-size: 1.3rem;
}

.mat-card-desc{
  margin: 0px 10px;
  font-size: 1.0rem;
}

.mat-card-content{
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-card-actions{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin: 0px;
}

#field-price{
  display: flex;
  justify-content: center;
  align-items: center;
}

button{
  font-size: 1.0rem;
}
