<div>
  <mat-table [dataSource]="jobsSigned">
    <!-- Job Column -->
    <ng-container matColumnDef="job">
      <mat-header-cell *matHeaderCellDef>Serviço</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.titleJob }}</mat-cell>
    </ng-container>

    <!-- Client Column -->
    <ng-container matColumnDef="client">
      <mat-header-cell *matHeaderCellDef>Cliente</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.nameClient }}</mat-cell>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="finalPrice">
      <mat-header-cell *matHeaderCellDef>Preço Final</mat-header-cell>
      <mat-cell *matCellDef="let element">R${{ element.finalPrice }}</mat-cell>
    </ng-container>

    <!-- jobDate Column -->
    <ng-container matColumnDef="jobDate">
      <mat-header-cell *matHeaderCellDef>Data do Serviço</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.jobDate }}</mat-cell>
    </ng-container>

    <!-- contractDate Column -->
    <ng-container matColumnDef="contractDate">
      <mat-header-cell *matHeaderCellDef>Data de Contratação</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.contractDate }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

</div>
