<mat-toolbar color="primary" fxLayoutAlign="center center" >
  <span>Contratar serviço</span>
</mat-toolbar>

<mat-form-field color="accent" appearance="fill" [formGroup]="contractForm">
  <mat-label>Escolha uma data</mat-label>
  <input matInput [min]="minDate" [matDatepicker]="picker" formControlName="date" readonly>
  <mat-hint>DD/MM/YYYY</mat-hint>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<div fxLayoutAlign="space-between center">
  <button  mat-stroked-button (click)="onCancel()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="onContract()">Contratar</button>
</div>
